In [2]:
import pandas as pd 
import matplotlib as plt

In [3]:
# Codigo para saber que tipo de encoding usa y despues leer el archivo
import chardet

with open("AnemiasAnalisis.csv", "rb") as f:
    result = chardet.detect(f.read(100000))
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [4]:
Anemias = pd.read_csv("AnemiasAnalisis.csv", encoding = "latin 1")

In [5]:
#Ver las dimensiones del csv
Anemias.shape

(6342, 39)

In [6]:
Anemias.head(10)

,ARC_REG,AÃ‘O,MES,CIE,DE1,DE2,DE3,DE4,DE5,DE6,...,ARC_SEX,ARC_EDC,ARC_OCU,ARC_SER,ARC_FDI,ARC_FEG,ARC_IQ1,ARC_IQ2,ARC_IQ3,ARC_AOB
0,1260500-0,22,2,N40 HIPERPLASIA DE LA PROSTATA,N40.X,I65.2,D64.9,NaN,NaN,NaN,...,MASCULINO,CASADO,JUBILADO,HU AREA A INTERNADOS,220209,220221,3812,NaN,NaN,NaN
1,1422800-5,23,7,D62 ANEMIA POSTHEMORRAGICA AGUDA,D62.X,E11.9,I95.9,NaN,NaN,NaN,...,MASCULINO,CASADO,DESEMPLEADA,MEDICINA INTERNA II,230715,230720,NaN,NaN,NaN,NaN
2,1422800-5,23,6,E11 DIABETES MELLITUS NO INSULINODEPENDIENTE,E11.1,D62.X,NaN,NaN,NaN,NaN,...,MASCULINO,CASADO,SIN OCUP,MEDICINA INTERNA I,230622,230627,8848,NaN,NaN,NaN
3,1422800-5,19,5,E14 DIABETES MELLITUS,E14.9,D62.X,NaN,NaN,NaN,NaN,...,MASCULINO,CASADO,DESEMPLEADO,CIRUGIA AB,190517,190527,8415,NaN,NaN,NaN
4,1505000-4,19,8,C54 TUMOR MALIGNO DEL CUERPO DEL UTERO,C54.1,D64.9,NaN,NaN,NaN,NaN,...,FEMENINO,CASADO,AMA DE CASA,MEDICINA INTERNA II,190806,190811,4523,NaN,NaN,NaN
5,1534300-0,22,7,N18 INSUFICIENCIA RENAL CRONICA,N18.5,E11.9,E66.9,D64.9,I10.X,NaN,...,FEMENINO,VIUDO,AMA DE CASA,MEDICINA INTERNA I,220629,220710,5493,NaN,NaN,NaN
6,1534300-0,20,3,E11 DIABETES MELLITUS NO INSULINODEPENDIENTE,E11.6,I10.X,N18.5,D64.9,NaN,NaN,...,FEMENINO,VIUDO,HOGAR,MEDICINA INTERNA I,200314,200324,NaN,NaN,NaN,NaN
7,1577100-6,25,4,D25 LEIOMIOMA DEL UTERO,D25.9,D64.9,NaN,NaN,NaN,NaN,...,FEMENINO,CASADO,POLICIA,GINECOLOGIA,250424,250427,684X,665X,NaN,NaN
8,1611500-7,19,7,N18 INSUFICIENCIA RENAL CRONICA,N18.5,I10.X,D64.9,NaN,NaN,NaN,...,MASCULINO,UNION LIBRE,DESEMPLEADO,PENSIONISTAS,190707,190722,3895,5493,NaN,NaN
9,1619300-5,24,4,K70 ENFERMEDAD ALCOHOLICA DEL HIGADO,J80.X,J10.0,R57.2,D65.X,NaN,D65.X,...,MASCULINO,VIUDO,JUBILADO,U.C.I.A.,240331,240427,5491,NaN,NaN,NaN

In [7]:
#revisar los ultimos 10 renglones
Anemias.tail(10)

,ARC_REG,AÃ‘O,MES,CIE,DE1,DE2,DE3,DE4,DE5,DE6,...,ARC_SEX,ARC_EDC,ARC_OCU,ARC_SER,ARC_FDI,ARC_FEG,ARC_IQ1,ARC_IQ2,ARC_IQ3,ARC_AOB
6332,1898899-1,22,5,D69 PURPURA Y OTRAS AFECCIONES HEMORRAGICAS,D69.6,D64.9,C91.0,B44.9,NaN,NaN,...,MASCULINO,SOLTERO,SIN OCUP,MEDICINA INTERNA III,220224,220526,311X,4413,9925,NaN
6333,1913899-7,22,6,I31 OTRAS ENFERMEDADES DEL PERICARDIO,I31.9,E11.9,D64.9,Z51.3,NaN,NaN,...,MASCULINO,CASADO,ALBANIL,MEDICINA INTERNA I,220509,220625,4413,331,4319,NaN
6334,1950199-5,22,11,D69 PURPURA Y OTRAS AFECCIONES HEMORRAGICAS,D69.6,NaN,NaN,NaN,NaN,NaN,...,FEMENINO,CASADO,AMA DE CASA,MEDICINA INTERNA II,221112,221117,NaN,NaN,NaN,NaN
6335,1975299-9,23,4,K56 ILEO PARALITICO Y OBSTRUCCION INTESTINAL S...,K56.4,E14.2,N17.9,D64.9,NaN,NaN,...,MASCULINO,CASADO,PENSIONADO,MEDICINA INTERNA II,230315,230402,4523,NaN,NaN,NaN
6336,1999799-9,23,8,D69 PURPURA Y OTRAS AFECCIONES HEMORRAGICAS,D69.6,C95.0,E66.3,D64.8,NaN,NaN,...,FEMENINO,SOLTERO,OTRA,MEDICINA INTERNA II,230814,230829,NaN,NaN,NaN,NaN
6337,2012499-9,24,5,D72 OTROS TRASTORNOS DE LOS LEUCOCITOS,D72.1,E14.9,E87.8,NaN,NaN,NaN,...,MASCULINO,CASADO,NO DATO,MEDICINA INTERNA III,240506,240515,NaN,NaN,NaN,NaN
6338,2017799-0,24,9,N18 INSUFICIENCIA RENAL CRONICA,N18.5,N10.X,I10.X,E11.9,D64.9,NaN,...,MASCULINO,SOLTERO,ALBANIL,MEDICINA INTERNA II,240907,240921,5493,9782,NaN,NaN
6339,2076299-1,25,5,C15 TUMOR MALIGNO DEL ESOFAGO,C15.9,D64.9,Z51.3,NaN,NaN,NaN,...,FEMENINO,VIUDO,AMA DE CASA,ONCOLOGIA,250509,250509,NaN,NaN,NaN,NaN
6340,2084599-0,24,9,D64 OTRAS ANEMIAS,D64.9,L89.0,NaN,NaN,NaN,NaN,...,FEMENINO,CASADO,AMA DE CASA,MEDICINA INTERNA III,240831,240910,4131,NaN,NaN,NaN
6341,2139999-6,25,6,O00 EMBARAZO ECTOPICO,O00.9,D64.9,NaN,NaN,NaN,NaN,...,FEMENINO,SOLTERO,ESTUDIANTE,GINECOLOGIA,250604,250606,5411,6669,NaN,ABORTO

In [8]:
Anemias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6342 entries, 0 to 6341
Data columns (total 39 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ARC_REG  6342 non-null   object
 1   AÃ‘O      6342 non-null   int64
 2   MES      6342 non-null   int64
 3   CIE      6342 non-null   object
 4   DE1      6342 non-null   object
 5   DE2      5906 non-null   object
 6   DE3      4170 non-null   object
 7   DE4      2170 non-null   object
 8   DE5      855 non-null    object
 9   DE6      119 non-null    object
 10  DE7      34 non-null     object
 11  DX1      6342 non-null   object
 12  DX2      5906 non-null   object
 13  DX3      4169 non-null   object
 14  DX4      2170 non-null   object
 15  DX5      855 non-null    object
 16  DX6      119 non-null    object
 17  CAUSA    6342 non-null   object
 18  DX       6342 non-null   object
 19  ARC_NUM  6342 non-null   int64
 20  EDAD     6342 non-null   int64
 21  DIAS     6342 non-null   int64
 22  VIVO     6342 non-null   object
 23  CX1      2081 non-null   object
 24  CX2      627 non-null    object
 25  CX3      132 non-null    object
 26  EDO      6342 non-null   object
 27  MUN      6341 non-null   object
 28  ED       6342 non-null   object
 29  ARC_SEX  6342 non-null   object
 30  ARC_EDC  6340 non-null   object
 31  ARC_OCU  6340 non-null   object
 32  ARC_SER  6342 non-null   object
 33  ARC_FDI  6342 non-null   int64
 34  ARC_FEG  6342 non-null   int64
 35  ARC_IQ1  2081 non-null   object
 36  ARC_IQ2  627 non-null    object
 37  ARC_IQ3  132 non-null    object
 38  ARC_AOB  37 non-null     object
dtypes: int64(7), object(32)
memory usage: 1.9+ MB

In [9]:
#revisar valores unicos
Anemias.nunique()

ARC_REG    4713
AÃ‘O           7
MES          12
CIE         499
DE1         905
DE2         599
DE3         495
DE4         366
DE5         189
DE6          67
DE7          27
DX1         856
DX2         569
DX3         470
DX4         351
DX5         182
DX6          67
CAUSA       910
DX          904
ARC_NUM    6234
EDAD        100
DIAS         93
VIVO          2
CX1         220
CX2         148
CX3          64
EDO          31
MUN         136
ED          118
ARC_SEX       2
ARC_EDC       8
ARC_OCU     112
ARC_SER      34
ARC_FDI    2171
ARC_FEG    2166
ARC_IQ1     220
ARC_IQ2     148
ARC_IQ3      64
ARC_AOB       4
dtype: int64

# Exploracion de datos

In [10]:
Anemias.describe()

,AÃ‘O,MES,ARC_NUM,EDAD,DIAS,ARC_FDI,ARC_FEG
count,6342.000000,6342.000000,6.342000e+03,6342.000000,6342.000000,6342.000000,6342.000000
mean,21.530590,6.255913,2.162661e+06,44.678808,9.506780,215712.741564,215947.314727
std,1.965062,3.333146,1.954156e+05,21.814752,11.525711,19674.157439,19623.437236
min,19.000000,1.000000,1.900009e+06,0.000000,1.000000,181015.000000,190101.000000
25%,20.000000,3.000000,2.004790e+06,29.000000,3.000000,200309.000000,200318.000000
50%,21.000000,6.000000,2.114534e+06,47.000000,6.000000,211013.500000,211020.500000
75%,23.000000,9.000000,2.312779e+06,61.000000,11.000000,230820.000000,230829.000000
max,25.000000,12.000000,2.512375e+06,100.000000,231.000000,250811.000000,250813.000000

In [11]:
#Descripcion basica de los objetos
Anemias.describe(include = 'object')

,ARC_REG,CIE,DE1,DE2,DE3,DE4,DE5,DE6,DE7,DX1,...,MUN,ED,ARC_SEX,ARC_EDC,ARC_OCU,ARC_SER,ARC_IQ1,ARC_IQ2,ARC_IQ3,ARC_AOB
count,6342,6342,6342,5906,4170,2170,855,119,34,6342,...,6341,6342,6342,6340,6340,6342,2081,627,132,37
unique,4713,499,905,599,495,366,189,67,27,856,...,136,118,2,8,112,34,220,148,64,4
top,1824163-1,D64 OTRAS ANEMIAS,D64.9,D64.9,D64.9,D64.9,D64.9,D61.9,M32.9,ANEMIA DE TIPO,...,MONTERREY,51,FEMENINO,CASADO,AMA DE CASA,MEDICINA INTERNA II,4413,3893,3893,CESAREA
freq,12,705,635,1405,854,489,236,17,2,635,...,1805,137,3296,2159,2136,1528,282,135,31,15

In [12]:
#Revisar los valores nulos
Anemias.isnull().sum()

ARC_REG       0
AÃ‘O           0
MES           0
CIE           0
DE1           0
DE2         436
DE3        2172
DE4        4172
DE5        5487
DE6        6223
DE7        6308
DX1           0
DX2         436
DX3        2173
DX4        4172
DX5        5487
DX6        6223
CAUSA         0
DX            0
ARC_NUM       0
EDAD          0
DIAS          0
VIVO          0
CX1        4261
CX2        5715
CX3        6210
EDO           0
MUN           1
ED            0
ARC_SEX       0
ARC_EDC       2
ARC_OCU       2
ARC_SER       0
ARC_FDI       0
ARC_FEG       0
ARC_IQ1    4261
ARC_IQ2    5715
ARC_IQ3    6210
ARC_AOB    6305
dtype: int64

In [19]:
#
Anemias[['CX1','CX2','CX3', 'DE2']]

,CX1,CX2,CX3,DE2
0,ENDARTERECTOMIA DE OTROS VASOS DE CABEZA Y CUELLO,NaN,NaN,I65.2
1,NaN,NaN,NaN,E11.9
2,ARTERIOG. DE ARTERIAS FEMORALES Y OTRAS ART. D...,NaN,NaN,D62.X
3,OTRA AMPUTACION DEBAJO DE LA RODILLA,NaN,NaN,D62.X
4,COLONOSCOPIA,NaN,NaN,D64.9
...,...,...,...,...
6337,NaN,NaN,NaN,E14.9
6338,CREACION DE FISTULA CUTANEOPERITONEAL,EXTRACCION DE DISP. DE DRENAJE PERITONEAL,NaN,N10.X
6339,NaN,NaN,NaN,D64.9
6340,BIOPSIA DE MEDULA OSEA,NaN,NaN,L89.0
6341,LAPAROTOMIA EXPLORATORIA,OTRA SALPINGECTOMIA PARCIAL,NaN,D64.9

# Limpiar los datos

In [23]:
NeoAnemias = Anemias.drop(Anemias.columns[-7:], axis=1)

In [24]:
NeoAnemias.isnull().sum()

ARC_REG       0
AÃ‘O           0
MES           0
CIE           0
DE1           0
DE2         436
DE3        2172
DE4        4172
DE5        5487
DE6        6223
DE7        6308
DX1           0
DX2         436
DX3        2173
DX4        4172
DX5        5487
DX6        6223
CAUSA         0
DX            0
ARC_NUM       0
EDAD          0
DIAS          0
VIVO          0
CX1        4261
CX2        5715
CX3        6210
EDO           0
MUN           1
ED            0
ARC_SEX       0
ARC_EDC       2
ARC_OCU       2
dtype: int64

In [26]:

# Reemplaza nulos en todas las columnas que comiencen con "DE","DX","CX"
for col in NeoAnemias.columns:
    if col.startswith(("DE", "DX","CX")):
        NeoAnemias[col] = NeoAnemias[col].fillna("no hubo")

In [27]:
NeoAnemias.isnull().sum()

ARC_REG    0
AÃ‘O        0
MES        0
CIE        0
DE1        0
DE2        0
DE3        0
DE4        0
DE5        0
DE6        0
DE7        0
DX1        0
DX2        0
DX3        0
DX4        0
DX5        0
DX6        0
CAUSA      0
DX         0
ARC_NUM    0
EDAD       0
DIAS       0
VIVO       0
CX1        0
CX2        0
CX3        0
EDO        0
MUN        1
ED         0
ARC_SEX    0
ARC_EDC    2
ARC_OCU    2
dtype: int64

In [34]:
NeoAnemias_SinRepetir = NeoAnemias.drop_duplicates(subset='ARC_REG', keep='first')

In [36]:
NeoAnemias_SinRepetir.nunique()

ARC_REG    4713
AÃ‘O           7
MES          12
CIE         475
DE1         821
DE2         536
DE3         441
DE4         337
DE5         172
DE6          68
DE7          28
DX1         783
DX2         508
DX3         420
DX4         324
DX5         165
DX6          68
CAUSA       829
DX          825
ARC_NUM    4713
EDAD        100
DIAS         90
VIVO          2
CX1         197
CX2         136
CX3          58
EDO          31
MUN         129
ED          114
ARC_SEX       2
ARC_EDC       8
ARC_OCU     110
dtype: int64